[defaults.commands]
command = """eval "$CRAWL_PARALLEL" """
warmup-runs = 2

[defaults.commands.env]
COMMON_SETUP = """
cd "$WPDIR"
wp cache flush
wp plugin deactivate --all
rm -f wp-content/object-cache.php
"""
CRAWL_PARALLEL = """
URLS=(
    /
    /author/user/
    /author/user/page/1/
    /category/uncategorized/
    /category/uncategorized/page/1/
    /hello-world/
    /not-found/
    /sample-page/
    /wp-sitemap.xml
)

parallel -j 0 'hey -h2 -n 50 -c 4 {1}' ::: ""$SERVER_URL"${URLS[@]}"
"""
GET_HOME_PARALLEL = """
hey -h2 -n 500 "$SERVER_URL"
"""
LITESPEED_CACHE_SETUP = """
LITESPEED_CACHE="$(nix build ./dev#litespeed-cache --print-out-paths)"
eval "$COMMON_SETUP"
wp plugin install --force "$LITESPEED_CACHE"
wp plugin activate litespeed-cache
"""
LITESPEED_CACHE_MEMCACHED_SETUP = """
eval "$LITESPEED_CACHE_SETUP"
cp wp-content/plugins/litespeed-cache/lib/object-cache.php wp-content/
wp option set litespeed.conf.cache ''
wp option set litespeed.conf.object 1
wp option set litespeed.conf.object-admin 1
wp option set litespeed.conf.object-host localhost
wp option set litespeed.conf.object-kind ''
wp option set litespeed.conf.object-life 360
wp option set litespeed.conf.object-persistent 1
wp option set litespeed.conf.object-port 11212
wp option set litespeed.conf.object-transients 1
wp cache flush
"""
LITESPEED_CACHE_REDIS_SETUP = """
eval "$LITESPEED_CACHE_SETUP"
cp wp-content/plugins/litespeed-cache/lib/object-cache.php wp-content/
wp option set litespeed.conf.cache 1
wp option set litespeed.conf.object 1
wp option set litespeed.conf.object-admin 1
wp option set litespeed.conf.object-host localhost
wp option set litespeed.conf.object-kind 1
wp option set litespeed.conf.object-life 360
wp option set litespeed.conf.object-persistent 1
wp option set litespeed.conf.object-port 6379
wp option set litespeed.conf.object-transients 1
wp cache flush
"""
REDIS_CACHE_SETUP = """
REDIS_CACHE="$(nix build ./dev#redis-cache --print-out-paths)"
eval "$COMMON_SETUP"
wp plugin install --force "$REDIS_CACHE"
wp plugin activate redis-cache
wp redis enable
wp cache flush
"""
SERVER_URL = "http://localhost:8889"
SNAPCACHE_SETUP = """
SNAPCACHE="$(nix build .#pluginWpOrgSrc --print-out-paths)"
eval "$COMMON_SETUP"
SNAPCACHE_DIR=wp-content/plugins/snapcache
mkdir -p "$SNAPCACHE_DIR"
chmod u+w -R "$SNAPCACHE_DIR"
rsync -avz --delete --chmod=F664,D775 --owner "$SNAPCACHE"/ "$SNAPCACHE_DIR"/
chattr -a -R "$SNAPCACHE_DIR"
wp plugin activate snapcache
wp snapcache memcached install
wp cache flush
"""
WPDIR = "dev/data/wordpress1"
WP_REDIS_SETUP = """
WP_REDIS="$(nix build ./dev#wp-redis --print-out-paths)"
eval "$COMMON_SETUP"
wp plugin install --force "$WP_REDIS"
wp plugin activate wp-redis
wp redis enable
wp cache flush
"""

[commands.litespeed-memcached]
setup = """eval "$LITESPEED_CACHE_MEMCACHED_SETUP" """
tags = ["memcached"]

[commands.litespeed-redis]
setup = """eval "$LITESPEED_CACHE_REDIS_SETUP" """
tags = ["redis"]

[commands.no-object-cache]
setup = """eval "$COMMON_SETUP" """

[commands.redis-cache]
setup = """eval "$REDIS_CACHE_SETUP" """
tags = ["redis"]

[commands.snapcache-memcached]
setup = """eval "$SNAPCACHE_SETUP" """
tags = ["memcached", "snapcache"]

[commands.wp-redis]
setup = """eval "$WP_REDIS_SETUP" """
tags = ["redis"]

[plots.whisker]
file = "plot-whisker.png"
type = "whisker"
