[defaults.commands]
warmup-runs = 2

[defaults.commands.env]
COMMON_SETUP = """
cd "$WPDIR"
wp cache flush
wp plugin deactivate --all
rm -f wp-content/object-cache.php
"""
GET_HOME_PARALLEL = """
hey -n 500 http://localhost:8889
"""
LITESPEED_CACHE_SETUP = """
LITESPEED_CACHE="$(nix build ./dev#litespeed-cache --print-out-paths)"
eval "$COMMON_SETUP"
wp plugin install --force "$LITESPEED_CACHE"
wp plugin activate litespeed-cache
"""
LITESPEED_CACHE_MEMCACHED_SETUP = """
eval "$LITESPEED_CACHE_SETUP"
cp wp-content/plugins/litespeed-cache/lib/object-cache.php wp-content/
wp option set litespeed.conf.cache ''
wp option set litespeed.conf.object 1
wp option set litespeed.conf.object-admin 1
wp option set litespeed.conf.object-host localhost
wp option set litespeed.conf.object-kind ''
wp option set litespeed.conf.object-life 360
wp option set litespeed.conf.object-persistent 1
wp option set litespeed.conf.object-port 11212
wp option set litespeed.conf.object-transients 1
wp cache flush
"""
LITESPEED_CACHE_REDIS_SETUP = """
eval "$LITESPEED_CACHE_SETUP"
cp wp-content/plugins/litespeed-cache/lib/object-cache.php wp-content/
wp option set litespeed.conf.cache 1
wp option set litespeed.conf.object 1
wp option set litespeed.conf.object-admin 1
wp option set litespeed.conf.object-host localhost
wp option set litespeed.conf.object-kind 1
wp option set litespeed.conf.object-life 360
wp option set litespeed.conf.object-persistent 1
wp option set litespeed.conf.object-port 6379
wp option set litespeed.conf.object-transients 1
wp cache flush
"""
REDIS_CACHE_SETUP = """
REDIS_CACHE="$(nix build ./dev#redis-cache --print-out-paths)"
eval "$COMMON_SETUP"
wp plugin install --force "$REDIS_CACHE"
wp plugin activate redis-cache
wp redis enable
wp cache flush
"""
SNAPCACHE_SETUP = """
SNAPCACHE="$(nix build .#pluginWpOrgSrc --print-out-paths)"
eval "$COMMON_SETUP"
SNAPCACHE_DIR=wp-content/plugins/snapcache
mkdir -p "$SNAPCACHE_DIR"
chmod u+w -R "$SNAPCACHE_DIR"
rsync -avz --delete --chmod=F664,D775 --owner "$SNAPCACHE"/ "$SNAPCACHE_DIR"/
chattr -a -R "$SNAPCACHE_DIR"
wp plugin activate snapcache
wp snapcache memcached install
wp cache flush
"""
WPDIR = "dev/data/wordpress1"

[commands.litespeed-memcached]
setup = """eval "$LITESPEED_CACHE_MEMCACHED_SETUP" """
command = """eval "$GET_HOME_PARALLEL" """
tags = ["memcached"]

[commands.litespeed-redis]
setup = """eval "$LITESPEED_CACHE_REDIS_SETUP" """
command = """eval "$GET_HOME_PARALLEL" """
tags = ["redis"]

[commands.no-object-cache]
setup = """eval "$COMMON_SETUP" """
command = """ eval "$GET_HOME_PARALLEL" """

[commands.redis-cache]
setup = """eval "$REDIS_CACHE_SETUP" """
command = """ eval "$GET_HOME_PARALLEL" """
tags = ["redis"]

[commands.snapcache-memcached]
setup = """eval "$SNAPCACHE_SETUP" """
command = """ eval "$GET_HOME_PARALLEL" """
tags = ["memcached", "snapcache"]

[plots.whisker]
file = "plot-whisker.png"
type = "whisker"
