[defaults.commands]

[defaults.commands.env]
COMMON_SETUP = """
cd "$WPDIR"
wp cache flush
wp plugin deactivate --all
rm -f wp-content/object-cache.php
"""
GET_HOME_PARALLEL = """
hey -n 500 http://localhost:8889
"""
LITESPEED_SETUP = """
LITESPEEDCACHE="$(nix build ./dev#litespeed-cache --print-out-paths)"
eval "$COMMON_SETUP"
wp plugin install --force "$LITESPEEDCACHE"
wp plugin activate litespeed-cache
cp wp-content/plugins/litespeed-cache/lib/object-cache.php wp-content/
wp option set litespeed.conf.cache ''
wp option set litespeed.conf.object 1
wp option set litespeed.conf.object-admin 1
wp option set litespeed.conf.object-host localhost
wp option set litespeed.conf.object-kind ''
wp option set litespeed.conf.object-life 360
wp option set litespeed.conf.object-persistent 1
wp option set litespeed.conf.object-port 11212
wp option set litespeed.conf.object-transients 1
"""
SNAPCACHE_SETUP = """
SNAPCACHE="$(nix build .#pluginWpOrgSrc --print-out-paths)"
eval "$COMMON_SETUP"
SNAPCACHE_DIR=wp-content/plugins/snapcache
mkdir -p "$SNAPCACHE_DIR"
chmod u+w -R "$SNAPCACHE_DIR"
rsync -avz --delete --chmod=F664,D775 --owner "$SNAPCACHE"/ "$SNAPCACHE_DIR"/
chattr -a -R "$SNAPCACHE_DIR"
wp plugin activate snapcache
wp snapcache memcached install
"""
WPDIR = "dev/data/wordpress1"

[commands.litespeed-memcached]
setup = """eval "$LITESPEED_SETUP" """
command = """ eval "$GET_HOME_PARALLEL" """
tags = ["memcached"]

[commands.litespeed-memcached-cold]
setup = """eval "$LITESPEED_SETUP" """
prepare = """wp --path="$WPDIR" cache flush"""
warmup-runs = 1
command = "curl http://localhost:8889"
tags = ["cold", "memcached"]

[commands.no-object-cache]
setup = """eval "$COMMON_SETUP" """
command = """ eval "$GET_HOME_PARALLEL" """

[commands.snapcache-memcached]
setup = """eval "$SNAPCACHE_SETUP" """
command = """ eval "$GET_HOME_PARALLEL" """
tags = ["memcached", "snapcache"]

[commands.snapcache-memcached-cold]
setup = """eval "$SNAPCACHE_SETUP" """
prepare = """wp --path="$WPDIR" cache flush"""
warmup-runs = 1
command = "curl http://localhost:8889"
tags = ["cold", "memcached", "snapcache"]

[plots.whisker]
file = "plot-whisker.png"
type = "whisker"
